h1, h3, h4, h5, h6, p, li, div, a {
    font-family: $font-fira;
}

#main-menu {
    height: 100vh;
    border: 1px solid #777;

    .menu {
        height: 100%;
    }

    li {
        position: relative;
        border-bottom: 1px solid #777;
        height: 15%;

        a {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 1.75em;
        }
    }
}

.active {
    background: $color-oj;
}

#fluid {
    max-width: 100% !important;
    width: 100%;

    .columns {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

#content-view {
    height: 100vh;

    .view-wrapper {
        padding: 2% 2% 2% 2%;
        height: 100%;
    }
}

#settings-wrapper {
    height: 100%;

    .row {
        @include horizontal-align();
        width: 85%;
    }
}

#users-wrapper {
    
}

#addusers-wrapper {
    position: relative;

    .row {
        width: 75%;
    }

    .button {
        width: 100%;
    }

    span {
        color: red;
    }
}
