<div id="settings-wrapper">		
    <div class="row">
        <div class="small-12 columns">
            <h1>Set the default API endpoint</h1>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <h3>Current: {{urlDisplay}}</h3>
        </div>        
    </div>
    <div class="row">
        <div class="small-12 columns">
            <div class="input-group">
                <input class="input-group-field" type="text" placeholder="http://localhost:4000" ng-model="url">
                <div class="input-group-button">
                    <input type="submit" class="button" value="Set" ng-click="setUrl(); clicker();">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h4>Examples: <small>http://localhost:4000, http://www.uiucwp.com:4000</small></h4>
    </div>
</div>