<div>
    <div id="taskdetails-wrapper">
        <div class="row">
            <div class="small-12 columns">
                <h2>Details</h2>
            </div>    
            <hr>
        </div>
        <div class="row">
            <h3>{{name}}</h3>
            <hr>
        </div>
        <div class="row">
            <h4>Assigned To: <span>{{assignedTo}}</span></h4>
            <h4>Deadline: <span>{{deadline}}</span></h4>
            <h4>Status: <span>{{status}}</span></h4>
            <p>Description: <span>{{description}}</span></p>
        </div>
        <div class="row">
            <a class="info button float-left" ng-click="goToTaskEdit(id)">Edit Task</a>
        </div>
        <div clas="row">
            <span>{{alert}}</span>
        </div>
    </div>
</div>