<div>
    <div id="userdetails-wrapper">
        <div class="row">
            <div class="small-12 columns">
                <h2>Details</h2>
            </div>    
            <hr>
        </div>
        <div class="row">
            <h3>{{name}}</h3>
            <h3>{{email}}</h3>
        </div>
        <div class="row">
            <hr>
            <div class="small-12 columns">
                <h3>Pending Tasks</h3>
                <div class="row detail-row" ng-repeat="pending in pendingTasks"> 
                    <div class="small-6 columns">
                        <h5>{{pending.name}}</h5>
                    </div>
                    <div class="small-4 columns">
                        <h5>{{pending.deadline}}</h5>
                    </div> 
                    <div class="small-2 columns">
                        <a class="alert button" ng-click="markComplete(pending._id, pending.assignedUser)">Mark Completed</a>
                    </div> 
                </div>
            </div> 
        </div>
        <div class="row">
        <hr>
            <div class="small-12 columns">
                <h3>Completed Tasks</h3>
                <div class="row" ng-repeat="completed in completedTasks">
                    <div class="small-6 columns">
                        <h5>{{completed.name}}</h5>
                    </div>
                    <div class="small-6 columns">
                        <h5>{{completed.deadline}}</h5>
                    </div>
                </div>
                <a class="success button load-button" ng-click="getCompletedTasks()">Load Completed</a>
            </div> 
        </div>
        <div clas="row">
            <span>{{alert}}</span>
        </div>
    </div>
</div>