<div>
    <div id="users-wrapper">
        <div class="row">
            <div class="small-5 columns">
                <h2>User</h2>
            </div>
            <div class="small-5 columns">
                <h2>Email</h2>
            </div>   
            <hr>
        </div>
        <div class="row" ng-repeat='user in data.users'>
            <div class="small-5 columns">
                <h5>{{user.name}}</h5>
            </div>
            <div class="small-5 columns">
                <h5>{{user.email}}</h5>
            </div> 
            <div class="small-2 columns">
                <a class="alert button" ng-click="deleteUser(user._id)">Delete</a>
            </div> 
            <hr>       
        </div>
        <div class="row">
            <div class="small-5 columns"></div>
            <div class="small-5 columns"></div> 
            <div class="small-2 columns">
                <a href="#/addusers" class="success button" >Add User</a>
            </div>  
        </div>
    </div>
</div>
