<div ng-controller='UsersController'>
    <div id="users-wrapper">
        <div class="row">
            <div class="small-5 columns">
                <h2>User</h2>
            </div>
            <div class="small-5 columns">
                <h2>Email</h2>
            </div>   
            <hr>
        </div>
        <div class="row">
            <div class="small-5 columns">
                
            </div>
            <div class="small-5 columns">
                
            </div> 
            <div class="small-2 columns">
                
            </div> 
            <hr>       
        </div>
        <div class="row">
            <div class="small-5 columns"></div>
            <div class="small-5 columns"></div> 
            <div class="small-2 columns">
                <a class="success button" href="#">Add User</a>
            </div>  
        </div>
    </div>
</div>
